.flexrow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Courgette', cursive;
}

.main-container {
  background-color: #8080802e;
  display:flex;
  flex-direction: column;
  padding:20px;
  gap:10px;
  align-items:center;
  border-radius: 10px;
}

.title {
  font-size: larger;
  margin-bottom: 50px;
}

.grid {
  display:grid;
  grid-template-columns: auto auto;
  gap:20px;
  padding:20px;
}

.button {
  padding:18px;
  border-radius: 10px;
  border: none;
  font-size: medium;
  font-family: 'Courgette', cursive;
}

.button:hover {
  cursor: pointer;
  box-shadow: 5px 5px #c6c4c4;
}

.input {
  border-radius: 10px;
  border: none;
  padding: 18px;
  font-size: medium;
  font-family: 'Courgette', cursive;
}

.balance {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size:larger;
  margin-top:50px;
}
