@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

* {
  font-size: 23px;
  font-family: 'Concert One', cursive;
}

.flex-column-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.flex-row-container {
  display: flex;
  width: 600px;
  gap: 8px;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 70px;
  border-radius: 10px;
  border: 4px solid rgb(68, 223, 247);
}

.hidden-card {
  background-color: rgb(68, 223, 247);
}

.hidden-card > div {
  visibility: hidden;
}

.background-color {
  background-color: rgb(150, 246, 241);
  border: 4px solid rgb(78, 247, 230);
}

#restart-button{
  border-radius: 5px;
  background-color: black;
  color: white;
}
