/* .lcd {
  display: flex;
  justify-content: center;
} */

 .lcd .flex-row-container {
  display: flex;
  gap: 20px;
  padding: 60px;
  border : 16px solid rgb(142, 140, 140);
  border-style: ridge;
  border-radius: 10px;
  justify-content: center;
}

.lcd .flex-column-digit {
  display: flex;
  flex-direction: column;
}

.lcd .top-segment {
  padding: 8px;
  border-top: 2px solid black;
  border-bottom: 1px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
}

.lcd .bottom-segment {
  padding: 8px;
  border-top: 1px solid black;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
}

.lcd .top-small-segment {
  padding: 4px;
  border-top: 2px solid black;
  border-bottom: 1px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
}

.lcd .bottom-small-segment {
  padding: 4px;
  border-top: 1px solid black;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
 } 

 .lcd .flex-colon-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
} 

.lcd .top-colon-segment,
.lcd .bottom-colon-segment {
  padding: 2px;
  background-color: black;
  animation: blink 1.5s linear infinite;
}

@media only screen and (min-width: 640px) {
.lcd .top-segment {
  padding: 20px;
  border-top: 12px solid black;
  border-bottom: 6px solid black;
  border-left: 12px solid black;
  border-right: 12px solid black;
}

.lcd .bottom-segment {
  padding:20px;
  border-top: 6px solid black;
  border-bottom: 12px solid black;
  border-left: 12px solid black;
  border-right: 12px solid black;
}

.lcd .top-small-segment {
  padding: 8px;
  border-top: 9px solid black;
  border-bottom: 4px solid black;
  border-left: 9px solid black;
  border-right: 9px solid black;
}

.lcd .bottom-small-segment {
  padding: 8px;
  border-top: 4px solid black;
  border-bottom: 9px solid black;
  border-left: 9px solid black;
  border-right: 9px solid black;
 } 

 .lcd .flex-colon-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
} 

.lcd .top-colon-segment,
.lcd .bottom-colon-segment {
  padding: 6px;
  background-color: black;
  animation: blink 1.5s linear infinite;
}
}

@media only screen and (min-width: 1024px) {
.lcd .top-segment {
  padding: 50px;
  border-top: 18px solid black;
  border-bottom: 9px solid black;
  border-left: 18px solid black;
  border-right: 18px solid black;
}

.lcd .bottom-segment {
  padding: 50px;
  border-top: 9px solid black;
  border-bottom: 18px solid black;
  border-left: 18px solid black;
  border-right: 18px solid black;
}

.lcd .top-small-segment {
  padding: 20px;
  border-top: 18px solid black;
  border-bottom: 9px solid black;
  border-left: 18px solid black;
  border-right: 18px solid black;
}

.lcd .bottom-small-segment {
  padding: 20px;
  border-top: 9px solid black;
  border-bottom: 18px solid black;
  border-left: 18px solid black;
  border-right: 18px solid black;
 } 
}



@media only screen and (min-width: 1024px) {
  .lcd .top-colon-segment,
  .lcd .bottom-colon-segment {
    padding: 10px;
    background-color: black;
    animation: blink 1.5s linear infinite;
  }

  .lcd .flex-colon-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 90px;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.lcd .num0.top-segment {
  border-color: black black #eee black;
}

.lcd .num0.bottom-segment {
  border-color: #eee black black black;
}

.lcd .num1.top-segment {
  border-color: #eee black #eee #eee;
}

.lcd .num1.bottom-segment {
  border-color: #eee black #eee #eee;
}

.lcd .num2.top-segment {
  border-color: black black black #eee;
}

.lcd .num2.bottom-segment {
  border-color: black #eee black black;
}

.lcd .num3.top-segment {
  border-color: black black black #eee;
}

.lcd .num3.bottom-segment {
  border-color: black black black #eee;
}

.lcd .num4.top-segment {
  border-color: #eee black black black;
}

.lcd .num4.bottom-segment {
  border-color: black black #eee #eee;
}

.lcd .num5.top-segment {
  border-color: black #eee black black;
}

.lcd .num5.bottom-segment {
  border-color: black black black #eee;
}

.lcd .num6.top-segment {
  border-color: black #eee black black;
}

.lcd .num6.bottom-segment {
  border-color: black;
}

.lcd .num7.top-segment {
  border-color: black black #eee #eee;
}

.lcd .num7.bottom-segment {
  border-color: #eee black #eee #eee;
}

.lcd .num8.top-segment {
  border-color: black;
}

.lcd .num8.bottom-segment {
  border-color: black;
}

.lcd .num9.top-segment {
  border-color: black;
}

.lcd .num9.bottom-segment {
  border-color: black black black #eee;
}  