@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
*{
  font-family: 'Concert One', cursive;
  font-size: 40px;
}

.header {
  text-align: center;
  margin: 50px 0px -50px 0px;
}

.flex-container{
  display: flex;
  align-items: center;
  margin: 80px auto 0 auto;
  width: 50%;
  gap: 20px;
  padding: 15px;
}

.flex-date-container{
  display: flex;
  margin: 0 auto;
  width: 50%;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 30px;
}

.style-arrows {
  padding: 2px 16px;
  border: none;
  border-radius: 10px;
}

.arrow-before:hover, .arrow-after:hover {
  background-color: #b6b6b6;
}

.date-today{
  border-radius: 50px;
  background-color: #705cff;
  color: white;
}

.flex-date-container > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.date-elements{
 height: 50px;
 width: 50px;
 display: flex;
 justify-content: center;
 align-items: center;
}
