@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

.analog-clock {
  font-family: 'Secular One', sans-serif;
}

@media only screen and (min-width: 768px) {
  .analog-clock {
    font-size: 50px;
  }
} 

@media only screen and (min-width: 350px) and (max-width: 767px) {
  .analog-clock {
    font-size: 30px;
  }
}  

@media only screen and (max-width: 350px) {
  .analog-clock {
    font-size: 20px;
  }
} 

.analog-clock .center {
  display: flex;
  justify-content: center;
}

.analog-clock .clock {
  width: 524px;
}

.analog-clock .circle {
  fill: white;
  filter: drop-shadow(0px 3px 3px rgba(16, 15, 15, 0.4));
}

.analog-clock #second-line {
  stroke: black;
  stroke-width: 1;
}

.analog-clock #minute-line {
  stroke: black;
  stroke-width: 4;
}

.analog-clock #hour-line {
  stroke: black;
  stroke-width: 4;
}

.analog-clock #line1,
.analog-clock #line2 {
  stroke: black;
  stroke-width: 0.5;
}

.analog-clock .clock-nums {
  stroke: black;
  stroke-width: 1;
}