@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Dosis:wght@600&display=swap');
.weddingcard-container{
  height: 726px;
  border: 1px solid black;
  display: flex;
}

.weddingcard-container .information-container{
  border: 1px solid black;
  width:47%;
  margin:5px;
  background-image: url('./assets/details-background.png');
  background-repeat: no-repeat;
  background-position:bottom;
  font-family: 'Courgette', cursive;
  background-size: 75%;
}

.weddingcard-container .information{
  overflow: auto;
  border: 2px solid green;
  height: 85%;
}

.weddingcard-container .details{
  text-align: center;
  font-size: 35px;
}

.weddingcard-container .family-information{
display: flex;
gap: 20px;
}

.weddingcard-container .familydetails-heading,
.weddingcard-container .weddingdaydetails-heading,
.weddingcard-container .prewedding-eventdetails-heading,
.weddingcard-container .postwedding-eventdetails-heading{
  text-align: center;
  padding: 15px 0px 10px;
  font-size: 18px;
}

.weddingcard-container .bride-side,
.weddingcard-container .groom-side,
.weddingcard-container .weddingday-information,
.weddingcard-container .preweddingevents-information,
.weddingcard-container .postweddingevents-information
{
  display: flex;
  flex-direction: column;
  gap:20px;
}

.weddingcard-container .divider-container{
  text-align: center;
  padding-top: 20px;
}
.weddingcard-container .divider{
  text-align: center;
  width: 50%;
}

.weddingcard-container .wedding-date-day,
.weddingcard-container .wedding-time-venue,
.weddingcard-container .preweddingevent-date-day,
.weddingcard-container .preweddingevent-time-venue,
.weddingcard-container .postweddingevent-date-day,
.weddingcard-container .postweddingevent-time-venue{
  display: flex;
  gap: 130px;
}

.weddingcard-container .bride-name,
.weddingcard-container .bride-father-name,
.weddingcard-container .bride-mother-name,
.weddingcard-container .bride-grandfather-name,
.weddingcard-container .bride-grandmother-name,
.weddingcard-container .bride-address,
.weddingcard-container .bride-rsvp,
.weddingcard-container .groom-name,
.weddingcard-container .groom-father-name,
.weddingcard-container .groom-mother-name,
.weddingcard-container .groom-grandfather-name,
.weddingcard-container .groom-grandmother-name,
.weddingcard-container .groom-address,
.weddingcard-container .groom-rsvp,
.weddingcard-container .wedding-date,
.weddingcard-container .wedding-day,
.weddingcard-container .wedding-time,
.weddingcard-container .wedding-venue,
.weddingcard-container .preweddingevent-date,
.weddingcard-container .preweddingevent-day,
.weddingcard-container .preweddingevent-time,
.weddingcard-container .preweddingevent-venue,
.weddingcard-container .postweddingevent-date,
.weddingcard-container .postweddingevent-day,
.weddingcard-container .postweddingevent-time,
.weddingcard-container .postweddingevent-venue
{
  display: flex;
  align-items: center;
  gap:10px;
}


.weddingcard-container .prewedding-eventtype,
.weddingcard-container .postwedding-eventtype{
  text-align: center;
}








.weddingcard-container .card-container{
  border: 1px solid black;
  width: 53%;
  margin:5px;
}