*{
  font-size: 23px;
}
.flex-column-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  gap: 20px;
  
  font-weight: bold;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.flex-row-container{
  display: flex;
  width: 600px;
  gap: 8px;
  flex-wrap: wrap;
  justify-content: center;
}

.card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 70px;
  border-radius: 10px;
  border: 1px solid black;
}

.hidden-card{
  background-color: dodgerblue;
}

.hidden-card > div{
  visibility: hidden;
}

.background-color{
  background-color: rgb(176, 238, 246);
}

