.flex-column-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-size: x-large;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  padding: 6px;
}

.box {
  width: 90px;
  height: 90px;
  background-color: #80808030;
  border-radius: 10px;
  margin-bottom: 10px;
}

#play-button {
  border-radius: 10px;
  box-shadow: 6px 6px #8080808c;
  border: none;
  padding: 10px 40px 10px 40px;
  font-size: 20px;
}

#play-button:hover {
  cursor: pointer;
  margin-top: 4px;
  margin-left: 4px;
  margin-bottom: -4px;
  box-shadow: 2px 2px #8080808c;
}

.color-blue {
  background: linear-gradient(rgb(88, 88, 246), rgb(103, 224, 243));
}

.color-green {
  background: linear-gradient(rgb(21, 129, 59), rgb(105, 236, 105));
}

.color-red {
  background: linear-gradient(rgb(242, 88, 88), rgb(243, 194, 104));
}
