.flex-box-column-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  padding: 24px;
}

.flex-box-row-container {
  display: flex;
}

.grid-container {
  display: grid;
  background-color: black;
  grid-template-columns: auto auto auto;
  gap: 5px;
  padding: 5px;
  font-size: 40px;
}

.grid-container > div {
  text-align: center;
  padding: 56px;
  background-color: #eee;
  width: 40px;
  height: 40px;
}

.grid-container > div:hover {
  cursor: pointer;
}

#restart-button {
  font-size: 30px;
  box-shadow: 6px 6px black;
  border: none;
  border-radius: 4px;
  padding: 6px 16px 6px 16px;
}

#restart-button:hover {
  margin-top: 4px;
  margin-left: 4px;
  margin-bottom: -4px;
  box-shadow: 2px 2px black;
}

.winner {
  padding:20px;
}
