body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-large;
}

.flex-box-column-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.flex-box-row-container {
  display: flex;
}

.grid-container {
  display: grid;
  background-color: black;
  grid-template-columns: auto auto auto;
  gap: 5px;
  padding: 5px;
}

.grid-container > div {
  text-align: center;
  padding: 30px;
  background-color: #eee;
  height: 20px;
  width: 20px;
}

.grid-container > div:hover {
  cursor: pointer;
}

#restart-button {
  font-size: x-large;
}
