* {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.flex-column-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.flex-row-container {
  display: flex;
  gap: 25px;
  padding: 10px;
}

.flex-column-digit {
  display: flex;
  flex-direction: column;
}

.flex-colon-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 90px;
}

.top-segment {
  padding: 50px;
  border-top: 18px solid black;
  border-bottom: 9px solid black;
  border-left: 18px solid black;
  border-right: 18px solid black;
}

.bottom-segment {
  padding: 50px;
  border-top: 9px solid black;
  border-bottom: 18px solid black;
  border-left: 18px solid black;
  border-right: 18px solid black;
}

.top-small-segment {
  padding: 20px;
  border-top: 18px solid black;
  border-bottom: 9px solid black;
  border-left: 18px solid black;
  border-right: 18px solid black;
}

.bottom-small-segment {
  padding: 20px;
  border-top: 9px solid black;
  border-bottom: 18px solid black;
  border-left: 18px solid black;
  border-right: 18px solid black;
}

.top-colon-segment,
.bottom-colon-segment {
  padding: 10px;
  background-color: black;
}

.top-colon-segment {
  animation: blink 1.5s linear infinite;
}

.bottom-colon-segment {
  animation: blink 1.5s linear infinite;
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.num0 .top-segment {
  border-color: black black #eee black;
}

.num0 .bottom-segment {
  border-color: #eee black black black;
}

.num1 .top-segment {
  border-color: #eee black #eee #eee;
}

.num1 .bottom-segment {
  border-color: #eee black #eee #eee;
}

.num2 .top-segment {
  border-color: black black black #eee;
}

.num2 .bottom-segment {
  border-color: black #eee black black;
}

.num3 .top-segment {
  border-color: black black black #eee;
}

.num3 .bottom-segment {
  border-color: black black black #eee;
}

.num4 .top-segment {
  border-color: #eee black black black;
}

.num4 .bottom-segment {
  border-color: black black #eee #eee;
}

.num5 .top-segment {
  border-color: black #eee black black;
}

.num5 .bottom-segment {
  border-color: black black black #eee;
}

.num6 .top-segment {
  border-color: black #eee black black;
}

.num6 .bottom-segment {
  border-color: black;
}

.num7 .top-segment {
  border-color: black black #eee #eee;
}

.num7 .bottom-segment {
  border-color: #eee black #eee #eee;
}

.num8 .top-segment {
  border-color: black;
}

.num8 .bottom-segment {
  border-color: black;
}

.num9 .top-segment {
  border-color: black;
}

.num9 .bottom-segment {
  border-color: black black black #eee;
}
