@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Aclonica&family=Anton&family=Bubblegum+Sans&family=Concert+One&family=Libre+Baskerville:wght@400;700&family=Lora:wght@500&family=News+Cycle&family=Open+Sans&family=Pacifico&family=Patrick+Hand&family=Sansita:wght@700&display=swap');

.dictionary div {
  box-sizing: border-box;
  font-family: 'Concert One', cursive;
}

.dictionary .main-container{
  display: flex;
  margin: -8px; 
  padding: 16px;
  height: 100vh;
}

.dictionary .word-container{
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgb(244 232 216);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  border: 10px solid rgb(44, 47, 98);
  border-right: 0;
}

.dictionary .description-container{
  width: 60%;
  height: 100%;
  background-color: rgb(244 232 216);
  border: 10px solid rgb(44, 47, 98) ;
  border-left: 0;
  overflow: auto;
}

.dictionary .heading{
 font-size: 50px;
 text-align: center;
 color:rgb(49, 46, 92);
 display: flex;
 align-items: center;
 padding-top: 30px;
}

.dictionary .input-word-container{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 70px;
  color: rgb(71, 75, 116);
}

.dictionary .input-word-container > input{
  font-size: 25px;
  border: ridge;
  border-color: rgb(71, 75, 116);
  border-radius: 10px;
  padding: 10px;
  width: 80%;
  font-family: 'Concert One', cursive;
  color: rgb(71, 75, 116);
}

.dictionary .search-icon{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: -48px;
  font-size: 40px;
}

.dictionary .image-container{
  text-align: center;
}

.dictionary .user-input-word{
  text-align: center;
  font-size: 50px;
  color: rgb(49, 46, 92);
  padding: 2px;
  background-color: rgb(249, 225, 179);
  width: 70%;
  margin: 40px auto;
  border-radius: 10px;
}

.dictionary .phonetics-container{
  width: 50%;
  margin: -20px auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  
}

.dictionary .textAudio-container{
  display: flex;
  gap: 20px;
  padding: 10px;
  display: flex;
  align-items: center;
  background-color: rgb(247, 230, 194);
  border-radius: 10px;
}

.dictionary .audio{
  height: 60px;
  width: 60px;
  border-radius: 50px;
  background-color: rgb(250, 186, 164);
  display: flex;
  justify-content: center;
  align-items: center;
}

.dictionary .audio.material-symbols-outlined{
  font-size: 50px;
  color: rgb(49, 46, 92);
}

.dictionary .text{
  font-size: 30px;
  color: rgb(49, 46, 92);
}