@import url('https://fonts.googleapis.com/css2?family=Abel&family=Aboreto&family=Aclonica&family=Anton&family=Barlow:wght@300;500;700;800&family=Bubblegum+Sans&family=Cormorant+Garamond:ital,wght@0,700;1,400;1,700&family=Dancing+Script:wght@700&family=Fredoka:wght@500&family=Homemade+Apple&family=Libre+Baskerville:wght@400;700&family=Lora:wght@500&family=M+PLUS+Rounded+1c:wght@300;400&family=News+Cycle&family=Open+Sans&family=Oregano&family=PT+Sans&family=Pacifico&family=Patrick+Hand&family=Sansita:wght@700&display=swap');
.daily-diary{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 35px;
  padding:10px;
  font-family: 'Oregano', cursive;
}

.daily-diary .cover-page{
  height: 660px;
  width: 550px;
  transform: perspective(400px) rotateY(2.5deg);
  box-shadow: 0px 0px 50px 0px rgb(60, 60, 107);
  display: flex;
  flex-direction: column;
  border-radius: 20px 0px 0px 20px;
  background-color:aliceblue
}

.daily-diary .binder{
  height:642px;
  width: 15px;
  border-radius: 5px 5px 5px 5px;
  margin: 0px -8px 0px -8px;
  background-color: rgb(11, 11, 67);;
}

.daily-diary .diary-page{
  height: 660px;
  width: 550px;
  transform: perspective(400px) rotateY(-2.5deg);
  box-shadow: 0px 0px 50px 0px rgb(60, 60, 107);
  border-radius: 0px 20px 20px 0px;
  background-color: aliceblue
}

.daily-diary .image-cover-page{
  height:150px;
  width: 548px;
  border-top-left-radius: 20px;
}

.daily-diary .image-diary-page{
  height:150px;
  width: 549px;
  margin-left:1.5px;
  border-top-right-radius: 20px;
}

.daily-diary .cover-title-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}

.daily-diary .title{
  display: flex;
  align-items: center;
  font-size: 70px;
  color:rgb(120, 26, 26)
}

.daily-diary .pen.material-symbols-rounded{
  font-size: 70px;
}