@import url('https://fonts.googleapis.com/css2?family=Abel&family=Aboreto&family=Aclonica&family=Anton&family=Barlow:wght@300;500;700;800&family=Bubblegum+Sans&family=Cormorant+Garamond:ital,wght@0,700;1,400;1,700&family=Dancing+Script:wght@700&family=Fredoka:wght@500&family=Homemade+Apple&family=Libre+Baskerville:wght@400;700&family=Lora:wght@500&family=M+PLUS+Rounded+1c:wght@300;400&family=News+Cycle&family=Open+Sans&family=Oregano&family=PT+Sans&family=Pacifico&family=Patrick+Hand&family=Sansita:wght@700&display=swap');

.daily-diary {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 35px;
  padding: 10px;
  font-family: 'Oregano', cursive;
}

.daily-diary .cover-page {
  height: 660px;
  width: 550px;
  box-shadow: -25px 0px 25px 0px rgb(81 81 122 / 31%);
  display: flex;
  flex-direction: column;
  border-radius: 20px 0px 0px 20px;
  background-color: aliceblue;
}

.daily-diary .diary-page {
  height: 660px;
  width: 550px;
  box-shadow: 25px 0px 25px 0px rgb(81 81 122 / 31%);
  border-radius: 0px 20px 20px 0px;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
}

.daily-diary .image-cover-page {
  height: 150px;
  width: 555px;
  border-top-left-radius: 20px;
  border-bottom: 1px solid #0000001a;
}

.daily-diary .image-diary-page {
  height: 150px;
  width: 550px;
  border-top-left-radius: 20px;
  border-bottom: 1px solid #0000001a;
  transform: scaleX(-1);
}

.daily-diary .cover-title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}

.daily-diary .title {
  display: flex;
  align-items: center;
  font-size: 75px;
  color: rgb(73 102 77)
}

.daily-diary .pen.material-symbols-rounded {
  font-size: 70px;
}

.daily-diary .current-date {
  font-size: 40px;
  color: rgb(73 102 77);
}

.daily-diary .user-input {
  width: 98.5%;
  height: 100px;
}

.daily-diary .textarea-container > textarea {
  padding: 6px 15px 0px;
  width: 100%;
  height: 100%;
  overflow: auto;
  font-family: 'Oregano', cursive;
  font-size: 25px;
  border: 0;
  line-height: 31px;
  background-image: -webkit-linear-gradient(left, aliceblue 0, transparent 0), -webkit-linear-gradient(right, aliceblue 0, transparent 0), -webkit-linear-gradient(white 30px, #ccc 30px, #ccc 31px, white 31px);
  background-size: 100% 100%, 100% 100%, 100% 31px;
  background-attachment: local;
  box-sizing: border-box;
}

.daily-diary .textarea-container > textarea:focus {
  outline: 0;
}

.daily-diary .textarea-container {
  padding: 25px;
  flex: 1;
}

.daily-diary .date-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.daily-diary .arrow-left {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 20px solid rgb(73 102 77);
}

.daily-diary .arrow-right {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid rgb(73 102 77);
}

.daily-diary .arrow-left:hover {
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-right: 25px solid rgb(73 102 77);

}

.daily-diary .arrow-right:hover {
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-left: 25px solid rgb(73 102 77);
}