.daily-diary .notebook-lines {
  line-height: 31px;
  background-image: -webkit-linear-gradient(left, aliceblue 0, transparent 0), -webkit-linear-gradient(right, aliceblue 0, transparent 0), -webkit-linear-gradient(white 30px, #ccc 30px, #ccc 31px, white 31px);
  background-size: 100% 100%, 100% 100%, 100% 31px;
  background-attachment: local;
}









